<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDN-r7IRix2jKEPV6FJxL_L5HI5K5Fj7Ds</string>
	<key>GCM_SENDER_ID</key>
	<string>120033213805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rbsAndroid.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>right-e77c8</string>
	<key>STORAGE_BUCKET</key>
	<string>right-e77c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120033213805:ios:308f21d7141fe3a1a1ae64</string>
</dict>
</plist>